@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slidingImg {
    from {
        transform: translateX(-30px);
    }

    to {
        transform: translateX(30px);
    }
}