@use "base";

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;
    padding: 1rem;
    border-bottom: 2px solid base.$secondary-color;

    .logo {
        font-size: 25px;
        cursor: pointer;
        padding: 0.5rem;
    }

    .menu-btn,
    .menu-btn-close {
        @extend .btn;
    }

    .menu-btn {
        display: block;
    }

    .menu-btn-close {
        display: none;
        position: fixed;
        right: 1rem;
    }

    .menu-btn-close.active {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .menu-overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100vh;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
        background-color: base.$background-color;

        nav {
            @include base.flex-center;
            font-size: 16px;
            margin-top: 6rem;
            text-transform: uppercase;

            ul {
                list-style: none;

                a {
                    display: block;
                    padding: 1rem;
                }
            }
        }
    }

    .menu-overlay.active {
        display: block;
    }
}

.text-section {
    @include base.flex-center;
    flex-direction: column;
    padding: 1rem;
}

.image-section {
    @include base.flex-center;
    padding: 2rem;
    gap: 1rem;

    img {
        width: 100%;
        height: 100%;
    }
}

footer {
    @include base.flex-center;
    padding: 3rem 1rem;
    background-color: base.$secondary-color;
    color: base.$font-color-dark;
}

@media (max-width: 768px) {
    header {

        .logo {
            font-size: 20px;
        }

        .menu-btn,
        .menu-btn-close {
            font-size: 20px;
        }

        .menu-overlay {
            width: 100vw;
        }
    }

    .image-section {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    header {
        .menu-overlay {
            background-color: base.$background-color-dark;
        }
    }
}